/* Globales */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem = 10px*/
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

img {
  max-width: 100%;
}

/* Utilidades */
.seccion {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fw-300 {
  font-weight: 300;
}

.texto-centro {
  text-align: center;
}

.d-block {
  display: block;
}

.contenido-centrado {
  max-width: 800px;
}

/* Botones */
.btn {
  display: block;
  flex: 0 0 100%;
  margin: 2rem;
  padding: 1rem 3rem;
  font-weight: 700;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border: none;
}

@media (min-width: 768px) {
  .btn {
    display: inline-block;
    flex: 0 0 auto;
  }
}

.btn:hover {
  cursor: pointer;
}

.btn-naranja {
  background-color: #e08709;
}

.btn-verde {
  background-color: #71b100;
}

/* Header */
.site-header {
  margin-bottom: 3rem;
  padding: 1rem 0rem 3rem 0rem;
  background-color: #333333;
}

.site-header.inicio {
  height: 100vh;
  min-height: 60rem;
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: center center;
}

.contenido-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

@media (min-width: 768px) {
  .contenido-header {
    text-align: left;
  }
}

.contenido-header h1 {
  color: #ffffff;
  padding-bottom: 2rem;
  max-width: 60rem;
}

.barra {
  padding-top: 3rem;
}

@media (min-width: 768px) {
  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* Navegacion */
.navegacion a {
  display: block;
  font-size: 2.2rem;
  text-decoration: none;
  color: #fff;
  margin: 1rem 0rem;
}
@media (min-width: 768px) {
  .navegacion a {
    display: inline-block;
    margin-right: 2rem;
    font-size: 1.8rem;
  }
  .navegacion a:last-of-type {
    margin-right: 0;
  }
}

.navegacion a:hover {
  color: #71b100;
}

.navegacion {
  display: none;
}

.navegacion:target {
  display: block;
}

@media (min-width: 768px) {
  .navegacion {
    display: block;
  }
}
.mobile-menu img {
  width: 3rem;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* Seccion Nosotros */

@media (min-width: 768px) {
  .iconos-nosotros {
    display: flex;
    justify-content: space-between;
  }
}

.icono {
  text-align: center;
}

@media (min-width: 768px) {
  .icono {
    flex-basis: calc(33.3% - 1rem);
  }
}

.icono h3 {
  text-transform: uppercase;
}

/* Seccion Anuncios */
@media (min-width: 768px) {
  .contenedor-anuncios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.anuncio {
  flex-shrink: 0;
  flex-basis: calc(33.3% - 1rem);
  margin-bottom: 2rem;
  background-color: #f5f5f5;
  border: 1px solid #b5b5b5;
}

.contenido-anuncio {
  padding: 2rem;
}

.contenido-anuncio h3,
.contenido-anuncio p {
  margin: 0rem;
}

.precio {
  color: #71b100;
  font-weight: 700;
}

.iconos-caracteristicas {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  max-width: 500px;
  padding-left: 0;
  list-style: none;
}

.iconos-caracteristicas li {
  display: flex;
}

.iconos-caracteristicas li img {
  margin-right: 2rem;
}

.ver-todas {
  display: flex;
  justify-content: flex-end;
}

.btn-ver {
  flex: 0 0 100%;
  margin: 0;
}

@media (min-width: 768px) {
  .btn-ver {
    flex: 0 0 auto;
    margin-right: 0;
  }
}

/* Seccion Contactanos*/
.img-contacto {
  height: 40rem;
  display: flex;
  align-items: center;
  background-image: url("../img/encuentra.jpg");
  background-position: center center;
  background-size: cover;
}

.contenido-contacto {
  flex: 0 0 95%;
  color: #ffffff;
}

.contenido-contacto a {
  margin: 0;
}

.contenido-contacto p {
  font-size: 1.8rem;
}

/* Seccion Inferior */
@media (min-width: 768px) {
  .seccion-inferior {
    display: flex;
    justify-content: space-between;
  }

  .seccion-inferior .blog {
    flex-basis: 60%;
  }
}

.blog-post {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .blog-post {
    display: flex;
    justify-content: space-between;
  }
}

.blog-post .img-post {
  flex-basis: 40%;
}

.blog-post .txt-post {
  flex-basis: calc(60% - 3rem);
}
.txt-post h4 {
  margin: 0;
  line-height: 1.2;
}

.txt-post h4::after {
  content: "";
  display: block;
  margin-top: 1rem;
  width: 15rem;
  height: 0.5rem;
  background-color: #71b100;
  border-radius: 0.5rem;
}

.txt-post a {
  text-decoration: none;
  color: inherit;
}

.txt-post span {
  color: #e08709;
}

.seccion-inferior .testimoniales {
  flex-basis: calc(40% - 2rem);
}

/* Testimoniales */
.testimonial {
  padding: 2rem;
  font-size: 2.4rem;
  background-color: #71b100;
  color: #ffffff;
  border-radius: 2rem;
  text-align: justify;
}

.testimonial p {
  margin-right: 4rem;
  text-align: right;
}

.testimonial blockquote {
  position: relative;
  padding-left: 5rem;
}

.testimonial blockquote::before {
  content: "";
  display: block;
  position: absolute;
  left: -2rem;
  width: 4rem;
  height: 4rem;
  background-image: url("../img/comilla.svg");
}

/* Footer */
.site-footer {
  background-color: #333333;
  margin: 0;
}

.site-footer nav {
  display: none;
}

@media (min-width: 768px) {
  .site-footer nav {
    display: block;
  }
}

.contenedor-footer {
  display: flex;
  justify-content: center;
  padding: 3rem 0rem;
}

@media (min-width: 768px) {
  .contenedor-footer {
    justify-content: space-between;
  }
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  margin-right: 2rem;
}

.contenedor-footer a:hover {
  color: #71b100;
}

.copyright {
  margin: 0;
  color: #ffffff;
}

/* INTERNAS */
/* Nosotros */
@media (min-width: 768px) {
  .contenido-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.txt-nosotros blockquote {
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
  padding-bottom: 3rem;
}

/* Anuncio */
.resumen-propiedad {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Blog Post */
.img-post-big img {
  display: block;
}

/* Contacto */
form p {
  margin: 0;
  color: #333333;
}

legend {
  font-size: 2rem;
  color: #333333;
}

label {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}

input:not([type="submit"]),
textarea,
select {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #e1e1e1;
  border: none;
}

input.form-enviar {
  display: block;
  margin-left: 0rem;
  width: 100%;
}
select {
  appearance: none;
}
