/* Globales */
html {
  font-size: 62.5%; /*1rem = 10px*/
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

/* Utilidades */
.seccion {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fw-300 {
  font-weight: 300;
}
.texto-centro {
  text-align: center;
}

/* Header */
.site-header.inicio {
  height: 100vh;
  min-height: 60rem;
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: center center;
}

.contenido-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenido-header h1 {
  color: #ffffff;
  padding-bottom: 2rem;
  max-width: 60rem;
}

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

/* Navegacion */
.navegacion a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  margin-right: 2rem;
}
.navegacion a:hover {
  color: #71b100;
}
.navegacion a:last-of-type {
  margin-right: 0;
}

/* Seccion Nosotros */
.iconos-nosotros {
  display: flex;
  justify-content: space-between;
}

.icono {
  flex-basis: calc(33.3% - 1rem);
  text-align: center;
}

.icono h3 {
  text-transform: uppercase;
}
